<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
  <link rel="stylesheet" href="/public/style.css">
  <link href='http://fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'>  <body>
</head>
  <body class ="show">
    <section>
  {{#movies}}
  <body>
    <section>
    <h2>Edit {{title}}</h2>
    <img src="{{url}}" alt={{title}} height="400">
      <form action="/movies/{{_id}}/update" method="post">
        <table class= "editTable">
          <tr>
            <th>
              <label for="title">Title</label>
            </th>
            <td>
              <input id= "title" type="text" name="title" value ="{{title}}">
            </td>
         </tr>
         <tr>
           <th>
             <label for="director">Director</label>
           </th>
           <td>
             <input id= "director" type="text" name="director" value ="{{director}}">
           </td>
        </tr>
        <tr>
          <th>
            <label for="year">Year</label>
          </th>
          <td>
            <input id= "year" type="text" name="year" value ="{{year}}">
          </td>
       </tr>
       <tr>
         <th>
           <label for="rating">My Rating</label>
         </th>
         <td>
           <input id= "rating" type="text" name="rating" value ="{{rating}}">
         </td>
      </tr>
      <tr>
        <th>
          <label for="url">URL</label>
        </th>
        <td>
          <input id= "url" type="text" name="url" value ="{{url}}">
        </td>
     </tr>
  </table>
  <a href="/movies/{{_id}}/edit"><button class="button">Update</button></a>
  </form>
</body>
      <a href="/movies"><button class="button">Go To All Movies</button></a>
  {{/movies}}
   </section>
</body>
</html>
