<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kim's Movies Home</title>
  <link rel="stylesheet" href="/public/style.css">
  <link href='http://fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'><body>
</head>
<body class="landing">
  <header>
    <nav>
      <h2>Kim's Movie Ratings</h2>
    </nav>
  </header>
  <img src="../../images/amadeus.jpg" alt="Amadeus" />
  <a href="/movies"><button class="button">Go To All Movies</button></a>
</body>
</html>
