<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
  <link rel="stylesheet" href="/public/style.css">
  <link href='http://fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'>  <body>
</head>
  <body class ="edit">
    <section>
  {{#movies}}
    <h2>{{title}}</h2>
    <img src="{{url}}" alt={{title}} height="400">
      <h4>Title: {{title}}</h4>
      <h4>Director: {{director}}</h4>
      <h4>Year: {{year}}</h4>
      <h4>My Rating: {{rating}}</h4>
    <a href ="/movies/{{_id}}/edit"><button class="button">Edit {{title}}</button></a>
  {{/movies}}
  <section>
</body>
</html>
